@font-face {
    font-family: 'Shining_star';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/Shining_star.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Shining_star';
  line-height: 1.5;
  text-align: center;
}
html {
  height: 100%;
  background: midnightblue;
}
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  height: 56%;
  background: #FFC947;
  scroll-snap-type: both mandatory;
  overflow-y: scroll;
  border-radius: 1rem;
}
article {
  height: 100%;
  -webkit-scroll-snap-align: center;
  scroll-snap-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section a {
  text-decoration: none;
}
section iframe {
  height: 57%;
}
section span {
  font-size: 2.5rem;
}
section.int {
  color: darkviolet;
}
section.fav {
  color: crimson;
}
